In [1]:
import data_preprocessing as dp
dirpath:str = 'CRLeaves'
labels = dp.get_labels_in_dir(dirpath)
species = dp.species_sample_count(dirpath)
#species = pd.DataFrame({'Species': labels, 'Frequency': species.values()})
#plot = sn.histplot(data=species)
#plt.show()

In [2]:
species.describe()

        Frecuency
count  254.000000
mean    27.314961
std     13.283888
min      4.000000
25%     23.250000
50%     24.000000
75%     24.000000
max     89.000000

In [3]:
species.head()

                         Frecuency
Acnistus arborescens            51
Aegiphila valerioi              28
Allophylus psilospermus         24
Alvaradoa amorphoides           15
Ambrosia peruviana              24